:root {
  --titleFont: 'Cinzel Decorative'

  /* color-scheme: dark; */
}

body {
  background-image: url('/assets/images/annapurna-nepal-trail-background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Bitter', serif;
}

h1 {
  margin-bottom: 10px;
  font-family: var(--titleFont);
  text-shadow: 1px 1px 1px white, 20px 1px 20px white;
  font-weight: 800;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h4, h5, h6 {
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

h6 {
  display: flex;
  color: red;
  font-weight: 800;
  text-shadow: 1px 1px 20px white, 50px 1px 20px white;
  margin-bottom: 15px;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0.5vh;
}

.card.outline {
  border: 0.12em dashed #c61b1b;
}

.card.selection {
  border: 0.15em solid #06d417;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#computer-hand {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pick-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#computer-discard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-discard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


#deal, #discard, #pick-up-card, #compare-hands, #next-round, #reset {
  background-color: #ccaa89;
  margin: 10px 5px;
  cursor: pointer;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  align-items: center; 
  border: 5px outset #c89666;
  font-weight: 600;
}

#movement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  }

.scoreboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 10px 35px;
  background-color: rgba(239, 224, 212, 0.8);
  border: 1px solid rgba(133, 111, 89, 1);
}


.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: rgb(133, 111, 89);
  color: white;
}

.dropbtn {
  margin: 20px 0 10px 30px;
  border: 5px double #dcdbda;
  background-color: #4b79b9;
  color: white
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 30px;
  display: none;
  position: absolute;
  background-color: #f1f1f1dd;
  min-width: 500px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content p {
  color: black;
  padding: 10px 5px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #07326e;
}

