:root {
  --titleFont: 'Cinzel Decorative'

  /* color-scheme: dark; */
}

body {
  background-image: url('/assets/images/annapurna-nepal-trail-background.png');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

h1 {
  margin-top: 30px;
  font-family: var(--titleFont);
  text-shadow: 1px 1px 1px white, 20px 1px 20px white;
  font-weight: 800;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6 {
  display: flex;
  color: red;
  font-weight: 800;
  text-shadow: 1px 1px 20px white, 50px 1px 20px white;
}

main {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  margin: 0.5vh;
}

.card.outline {
  border: 0.12em dashed #c61b1b;
}

.card.selection {
  border: 0.15em solid #06d417;
}

.card.shadow {
  box-shadow: 7px 7px 7px 0 rgba(41, 41, 41, 0.95) !important;
}

#computer-hand {
  display: flex;
  justify-content: center;
  align-items: center;
}

#pick-up {
  display: flex;
  justify-content: center;
  align-items: center;
}

#deck {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#computer-discard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#player-discard-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


button {
  background-color: #ccaa89;
  margin: 8px; */
  cursor: pointer;
  padding: 10px 16px;
  font-size: 14px;
  border-radius: 8px;
  align-items: center; 
  border: 5px outset #c89666;
  font-weight: 600;
}

#movement {
  display: flex;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
}

.scoreboard-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  padding: 10px 35px;
  background-color: rgba(239, 224, 212, 0.8);
  border: 1px solid rgba(133, 111, 89, 1);
}


.end {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:disabled {
  cursor: not-allowed;
}

button:hover {
  background-color: rgb(133, 111, 89);
  color: white;
}